[build-system]
requires = ["setuptools>=45", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "soft4pes"
version = "0.1.0"
dependencies = [
    "numpy",
    "scipy", 
    "matplotlib",
    "qpsolvers[daqp]",
]
requires-python = "=3.12"